em {
    display: inline;
    font-style: normal;
    font-weight: bold;
}

main h1 {
    padding-bottom: 10px;
}

main h2 {
    font-weight: normal;
}

.reservation-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 207, 202);
    padding: 50px;
}

.avis-gdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.avis-airbnb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.avis-airbnb img {
    width: 175px;
}

.avis-bloc {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.bloc-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.bloc-site img {
    max-height: 100px;
}

.bloc-site#gdf {
    border-right: dashed black;

}

.bloc-site h2 {
    text-decoration: underline;
}

.bloc-gites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avis img {
    max-height: 100px;
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form-section img {
    width: 500px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
}

.form-rens, .form-resa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(217, 207, 202);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 400px;
}

.form-rens textarea {
    width: 700px;
    height: 300px;
}

.form-resa textarea {
    width: 700px;
    height: 150px;
}

.form-colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-lignes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    border-bottom: solid black 1px;
    background-color: rgba(217, 207, 202);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

textarea {
    width: 500px;
}