.accueil-photo {
    display: flex;
    justify-content: center;
    position: relative;
}

.découvrez-ardèche {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 3px black;
    background-color: white;
}


.accueil-photo img {
    max-width: 1000px;
}

